In [ ]:
import sys; sys.path.append('../')
import pandas as pd

df_1m = pd.read_csv("../data/agg_data/fx/C:EURUSD_1m_last1y.csv")

In [2]:
df_1m

,open,high,low,close,volume,vwap,timestamp,transactions,otc
0,1.11297,1.11310,1.11289,1.11295,33,1.1129,2024-09-26 00:00:00,33,NaN
1,1.11298,1.11304,1.11290,1.11304,30,1.1130,2024-09-26 00:01:00,30,NaN
2,1.11303,1.11313,1.11303,1.11310,26,1.1131,2024-09-26 00:02:00,26,NaN
3,1.11309,1.11322,1.11309,1.11322,32,1.1132,2024-09-26 00:03:00,32,NaN
4,1.11321,1.11330,1.11310,1.11310,30,1.1132,2024-09-26 00:04:00,30,NaN
...,...,...,...,...,...,...,...,...,...
368302,1.17000,1.17010,1.16990,1.16998,98,1.1700,2025-09-26 20:55:00,98,NaN
368303,1.16997,1.17020,1.16992,1.16992,70,1.1700,2025-09-26 20:56:00,70,NaN
368304,1.17001,1.17030,1.16980,1.16994,34,1.1700,2025-09-26 20:57:00,34,NaN
368305,1.16980,1.17010,1.16971,1.16989,110,1.1698,2025-09-26 20:58:00,110,NaN
368306,1.16989,1.17020,1.16960,1.16969,20,1.1699,2025-09-26 20:59:00,20,NaN

In [3]:
# rename all columns to TitleCase
df_1m.columns = [col.capitalize() for col in df_1m.columns]

# also rename window_start → Date
df_1m = df_1m.rename(columns={"Timestamp": "Date"})

In [4]:
df_1m

,Open,High,Low,Close,Volume,Vwap,Date,Transactions,Otc
0,1.11297,1.11310,1.11289,1.11295,33,1.1129,2024-09-26 00:00:00,33,NaN
1,1.11298,1.11304,1.11290,1.11304,30,1.1130,2024-09-26 00:01:00,30,NaN
2,1.11303,1.11313,1.11303,1.11310,26,1.1131,2024-09-26 00:02:00,26,NaN
3,1.11309,1.11322,1.11309,1.11322,32,1.1132,2024-09-26 00:03:00,32,NaN
4,1.11321,1.11330,1.11310,1.11310,30,1.1132,2024-09-26 00:04:00,30,NaN
...,...,...,...,...,...,...,...,...,...
368302,1.17000,1.17010,1.16990,1.16998,98,1.1700,2025-09-26 20:55:00,98,NaN
368303,1.16997,1.17020,1.16992,1.16992,70,1.1700,2025-09-26 20:56:00,70,NaN
368304,1.17001,1.17030,1.16980,1.16994,34,1.1700,2025-09-26 20:57:00,34,NaN
368305,1.16980,1.17010,1.16971,1.16989,110,1.1698,2025-09-26 20:58:00,110,NaN
368306,1.16989,1.17020,1.16960,1.16969,20,1.1699,2025-09-26 20:59:00,20,NaN

In [ ]:
from StockMarketComputerVisionResearch.reinforcement_learning.data_helpers.image_generation import MultiTimeframeImageGen
import pandas as pd
from tqdm import tqdm

# --- prep dataframe ---
df_1m['Date'] = pd.to_datetime(df_1m['Date'])
df_1m = df_1m.set_index('Date').sort_index()

# --- init ---
gen = MultiTimeframeImageGen(
    timeframes=["1m", "3m", "5m", 
                # "15m", "1h", "4h", "1d"
                ],
    base_tf="1m",
    output_root="./dataset",
    window_sizes={
        "1m": 60,   
        "3m": 60,   
        "5m": 60,   
        # "15m":60,   
        # "1h": 60,  
        # "4h": 60,  
        # "1d": 60 
    }
)

# --- preload ---
minutes_needed = max(
    gen.window_sizes[tf] * gen.tf_to_minutes[tf]
    for tf in gen.timeframes
)
preload_df = df_1m.iloc[:minutes_needed]
for ts, row in tqdm(preload_df.iterrows(), total=len(preload_df), desc="Preloading"):
    row.name = ts
    gen.get_last(row, preload=True)

# --- generate ---
generate_df = df_1m.iloc[minutes_needed:]
for ts, row in tqdm(generate_df.iterrows(), total=len(generate_df), desc="Generating images"):
    row.name = ts
    gen.get_last(row, preload=False)

Preloading: 100%|██████████| 300/300 [00:01<00:00, 171.03it/s]
Generating images:   0%|          | 897/368007 [00:20<2:18:48, 44.08it/s]

KeyboardInterrupt:

In [ ]:
import cv2
import os
import glob
import numpy as np
from datetime import datetime

def export_tf_video(
    root_dir="./dataset",
    timeframes_top=("1m", "3m", "5m", "15m"),
    timeframes_bottom=("1h", "4h", "1d"),
    output_file=None,
    fps=10,
    scale=0.7,
):
    all_timeframes = timeframes_top + timeframes_bottom

    if output_file is None:
        ts = datetime.now().strftime("%Y-%m-%d_%H-%M-%S")
        output_file = f"{root_dir}/videos/tf_{ts}.mp4"

    os.makedirs(os.path.dirname(output_file), exist_ok=True)

    # Collect files for each timeframe
    files = {
        tf: sorted(glob.glob(os.path.join(root_dir, tf, "images", "*.png")))
        for tf in all_timeframes
    }

    # Require all timeframes to have frames
    if not all(len(lst) > 0 for lst in files.values()):
        raise ValueError("⚠️ One or more timeframe folders are empty!")

    num_frames = min(len(lst) for lst in files.values())

    # Read one sample to set base sizes
    sample = cv2.imread(files[all_timeframes[0]][0])
    if sample is None:
        raise ValueError("⚠️ Could not load sample image.")

    base_height = int(sample.shape[0] * scale)
    title_height = 30
    chart_height = base_height + title_height

    def process_frame(path, label):
        img = cv2.imread(path)
        if img is None:
            return None

        # Scale consistently to target height
        h, w = img.shape[:2]
        new_w = int(w * base_height / h)
        img = cv2.resize(img, (new_w, base_height))

        # Title bar
        title_bar = np.full((title_height, img.shape[1], 3), 255, dtype=np.uint8)
        font = cv2.FONT_HERSHEY_SIMPLEX
        text_size = cv2.getTextSize(label, font, 0.6, 1)[0]
        text_x = (title_bar.shape[1] - text_size[0]) // 2
        text_y = (title_height + text_size[1]) // 2 - 3  # better centering
        cv2.putText(title_bar, label, (text_x, text_y), font, 0.6, (0, 0, 0), 1)

        # Stack and border
        combined = np.vstack([title_bar, img])
        cv2.rectangle(combined, (0, 0), (combined.shape[1] - 1, combined.shape[0] - 1), (0, 0, 0), 1)
        return combined

    # Determine output canvas size
    top_width = sum(process_frame(files[tf][0], tf).shape[1] for tf in timeframes_top)
    bot_width = sum(process_frame(files[tf][0], tf).shape[1] for tf in timeframes_bottom)
    out_width = max(top_width, bot_width)
    out_height = chart_height * 2

    # Init video writer
    fourcc = cv2.VideoWriter_fourcc(*"mp4v")
    out = cv2.VideoWriter(output_file, fourcc, fps, (out_width, out_height))

    # Frame loop
    for i in range(num_frames):
        row_imgs = []
        for tf_group in [timeframes_top, timeframes_bottom]:
            frames = []
            for tf in tf_group:
                img = process_frame(files[tf][i], tf)
                if img is not None:
                    frames.append(img)
            if frames:
                row = np.hstack(frames)
                # Pad to full width if needed
                if row.shape[1] < out_width:
                    pad = np.full((chart_height, out_width - row.shape[1], 3), 255, dtype=np.uint8)
                    row = np.hstack([row, pad])
                row_imgs.append(row)

        # Stack rows into final frame
        full_frame = np.vstack(row_imgs)
        out.write(full_frame)

    out.release()
    print(f"✅ Video saved: {output_file}")


# Example run
export_tf_video(fps=10, scale=0.6)